.homepageContent{
	background: $homepageContentColor;
	max-width: 990px;
	margin:2em auto;
}

.homepageText{
	margin-bottom: 0;

	@media screen and (max-width: 700px){
		padding: 0 4%;
	}

	@media screen and (min-width: 701px){
		float: left;
		padding: 0 4% 0;
		width: 52%;
	}

	.v65-podImage {
		padding-bottom:1em;
	}

}

.homepageProductGroup {
	margin: 2em 0 2em;

	@media screen and (max-width: 700px){
		padding: 0 4%;
	}

	@media screen and (min-width: 701px){
		float: left;
		padding: 0 4% 4% 0;
		width: 36%;
	}

	.v65-productGroup-products{
		text-align: left;
		width: 100%;
	}

		.v65-productGroup-title{
			display: none;
		}

		.v65-productGroup-teaser{
			float: none;
			margin: 0;
			width: 100%;
		}

		.v65-productGroup-product{
			margin: 0 0 2em;
			width: 100%;

			&:first-child {
				border-bottom: 1px solid $borderColor;
			}
		}

			.v65-product-photo{
				float: left;
				width: auto;
				padding-right: 4%;
			}
}

#slider{
	height: 0;
	padding-top: 35%;
	overflow: hidden;
	width: 100%;

	.nivo-main-image{
		position: absolute !important;
	}
}
